* {
	color:#222;
}
body {
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
/* top right bar*/

ul.nav {
	float:right;
	margin-right:25px;
    margin-top:-200px;
}
ul.nav li {
	display:inline-block;
	padding:5px;
	
}
.share {
    padding:5px;
    background-color:lightgrey;
    border-radius:5px;
}
.profile {
	width:100%;
}
.profile img {
	width:52px;
	vertical-align: bottom;
    position: relative;
    top:15px;
}

/* google image */
.google {
    text-align: center;
    margin-top:200px;

}
.google img {
	width:300px;
	height:100px;
    text-align: center;
}

 input {
	width:600px;
	position: relative;
	top:30px;
	border-radius:5px;
	padding:5px;
	font-size:16px;
	color:#ddd;
	margin:0 auto;
	display:block;
}
input:hover {
	border-color:blue;
	
}
/* buttons */
.buttons {
    display:block;
    margin-top:40px;
}
button {
    padding:10px;
    margin:5px;
    cursor:pointer;
    box-shadow:5px 5px 5px darkgrey;
    display:inline-block;
}

/* footer */
div.bottomBar {
	width:100%;
	height:50px;
	background-color:#f5f5f5;
	position: absolute;
	bottom:0;
}
div.bottomBar ul {
	display:inline-block;
	
}
.bottomBar ul li {
	display:inline-block;
	
}
.bottomBar ul.leftBar {
	position: absolute;
	left:0;
	margin-left:15px;
	padding-left:0;

}
.bottomBar ul.rightBar {
	position: absolute;
	right:0;
	margin-right:15px;
}
.fa::before {
    content: "\f0a2";
}
.fa2::before {
	content:'\f00a';
}
@media screen and (max-width:750px) {
    input {
        width:450px;
    }
}
@media screen and (max-width:500px) {
    input {
        width:350px;
    }
   
}
